In [145]:
import numpy as np
import pandas as pd

In [146]:
df = pd.read_csv('train.csv')

In [147]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [149]:
df = df.drop([ 'Name'], axis = 1)

In [150]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [151]:
df = df.drop(['Cabin','Ticket'], axis=1)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [153]:
df['Age']=df['Age'].interpolate()

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [155]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [156]:
df['Embarked'] = df['Embarked'].apply(lambda x: np.random.choice(['S', 'Q', 'C']) if pd.isna(x) else x)

In [157]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [158]:
from sklearn.preprocessing import LabelEncoder

In [159]:
label = LabelEncoder()

In [160]:
for i in df.columns:
    if df[i].dtype == object:
        df[i] = label.fit_transform(df[i])

In [161]:
df

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    1  22.0      1      0   7.2500         2
1              2         1       1    0  38.0      1      0  71.2833         0
2              3         1       3    0  26.0      0      0   7.9250         2
3              4         1       1    0  35.0      1      0  53.1000         2
4              5         0       3    1  35.0      0      0   8.0500         2
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
886          887         0       2    1  27.0      0      0  13.0000         2
887          888         1       1    0  19.0      0      0  30.0000         2
888          889         0       3    0  22.5      1      2  23.4500         2
889          890         1       1    1  26.0      0      0  30.0000         0
890          891         0       3    1  32.0      0      0   7.7500         1

[891 rows x 9 columns]

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 62.8 KB

In [163]:
df['Age'] = df['Age'].astype(int)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    int64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
dtypes: float64(1), int64(8)
memory usage: 62.8 KB

In [165]:
df.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.025894,-0.057527,-0.001652,0.012658,0.017331
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.061558,-0.035322,0.081629,0.257307,-0.170943
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.306215,0.083081,0.018443,-0.549500,0.166223
Sex,0.042939,-0.543351,0.131900,1.000000,0.060284,-0.114631,-0.245489,-0.182333,0.111894
Age,0.025894,-0.061558,-0.306215,0.060284,1.000000,-0.212362,-0.168513,0.087994,-0.021957
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.212362,1.000000,0.414838,0.159651,0.069444
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.168513,0.414838,1.000000,0.216225,0.041064
Fare,0.012658,0.257307,-0.549500,-0.182333,0.087994,0.159651,0.216225,1.000000,-0.227015
Embarked,0.017331,-0.170943,0.166223,0.111894,-0.021957,0.069444,0.041064,-0.227015,1.000000

In [166]:
df.corr()['Survived']

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Sex           -0.543351
Age           -0.061558
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Embarked      -0.170943
Name: Survived, dtype: float64

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    int64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
dtypes: float64(1), int64(8)
memory usage: 62.8 KB

In [168]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split

In [169]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Fare', 'Age']] = scaler.fit_transform(df[['Fare', 'Age']])
df[['Fare', 'Age']] = scaler.transform(df[['Fare', 'Age']])

In [170]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.003438,1,0,0.000028,2
1,2,1,1,0,0.005938,1,0,0.000272,0
2,3,1,3,0,0.004063,0,0,0.000030,2
3,4,1,1,0,0.005469,1,0,0.000202,2
4,5,0,3,1,0.005469,0,0,0.000031,2
...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,0.004219,0,0,0.000050,2
887,888,1,1,0,0.002969,0,0,0.000114,2
888,889,0,3,0,0.003438,1,2,0.000089,2
889,890,1,1,1,0.004063,0,0,0.000114,0
890,891,0,3,1,0.005000,0,0,0.000030,1

In [171]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [172]:
X = df.drop(columns=['Survived', 'PassengerId'])  
y = df['Survived']

In [173]:
model = Sequential()

In [174]:
model.add(Dense(64, input_shape=(X.shape[1],), activation='relu'))

C:\Users\lilit\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [185]:
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

In [186]:
model.add(Dense(1, activation='sigmoid'))

In [187]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [188]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [189]:
history = model.fit(X_train, y_train, epochs=70, batch_size=16, validation_data=(X_val, y_val))

Epoch 1/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.7876 - loss: 0.6738 - val_accuracy: 0.7933 - val_loss: 0.6107
Epoch 2/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8551 - loss: 0.5716 - val_accuracy: 0.7989 - val_loss: 0.5230
Epoch 3/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8016 - loss: 0.4949 - val_accuracy: 0.7989 - val_loss: 0.4783
Epoch 4/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8423 - loss: 0.4129 - val_accuracy: 0.7709 - val_loss: 0.5000
Epoch 5/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8240 - loss: 0.4141 - val_accuracy: 0.7989 - val_loss: 0.4918
Epoch 6/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8332 - loss: 0.4125 - val_accuracy: 0.8045 - val_loss: 0.4604
Epoch 7/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8473 - loss: 0.3685 - val_accuracy: 0.8045 - val_loss: 0.4719
Epoch 8/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8421 - loss: 0.3807 - val_accuracy: 0.7989 - val_loss: 0.4583
Epoch 9/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8235 - loss: 0.4257 - val_accuracy: 0.7989 - val_loss: 0.4631
Epoch 10/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8201 - loss: 0.4172 - val_accuracy: 0.7989 - val_loss: 0.4669
Epoch 11/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8487 - loss: 0.3940 - val_accuracy: 0.7989 - val_loss: 0.4636
Epoch 12/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8480 - loss: 0.3702 - val_accuracy: 0.7933 - val_loss: 0.4650
Epoch 13/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8580 - loss: 0.3604 - val_accuracy: 0.8045 - val_loss: 0.4689
Epoch 14/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8341 - loss: 0.3962 - val_accuracy: 0.8101 - val_loss: 0.4616
Epoch 15/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8262 - loss: 0.3969 - val_accuracy: 0.8045 - val_loss: 0.4846
Epoch 16/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8368 - loss: 0.4014 - val_accuracy: 0.7933 - val_loss: 0.4750
Epoch 17/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8423 - loss: 0.3724 - val_accuracy: 0.7989 - val_loss: 0.4613
Epoch 18/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8152 - loss: 0.4049 - val_accuracy: 0.7989 - val_loss: 0.4732
Epoch 19/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8174 - loss: 0.4139 - val_accuracy: 0.7989 - val_loss: 0.4688
Epoch 20/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8282 - loss: 0.3914 - val_accuracy: 0.7989 - val_loss: 0.4845
Epoch 21/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8219 - loss: 0.4360 - val_accuracy: 0.7989 - val_loss: 0.4629
Epoch 22/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8617 - loss: 0.3610 - val_accuracy: 0.8045 - val_loss: 0.4594
Epoch 23/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8357 - loss: 0.3867 - val_accuracy: 0.8101 - val_loss: 0.4648
Epoch 24/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8548 - loss: 0.3714 - val_accuracy: 0.7989 - val_loss: 0.4725
Epoch 25/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8490 - loss: 0.3482 - val_accuracy: 0.8045 - val_loss: 0.4719
Epoch 26/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8304 - loss: 0.3970 - val_accuracy: 0.7989 - val_loss: 0.4543
Epoch 27/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8330 - loss: 0.3918 - val_accuracy: 0.8101 - val_loss: 0.4766
Epoch 28/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8180 - loss: 0.4046 - val_accuracy: 0.8045 - val_loss: 0.4588
Epoch 29/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8227 - loss: 0.4160 - val_accuracy: 0.7989 - val_loss: 0.4686
Epoch 30/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8100 - loss: 0.4090 - val_accuracy: 0.8045 - val_loss: 0.4688
Epoch 31/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8415 - loss: 0.3666 - val_accuracy: 0.7989 - val_loss: 0.4559
Epoch 32/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8413 - loss: 0.3720 - val_accuracy: 0.7933 - val_loss: 0.4711
Epoch 33/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8437 - loss: 0.3821 - val_accuracy: 0.8101 - val_loss: 0.4756
Epoch 34/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8519 - loss: 0.3781 - val_accuracy: 0.7989 - val_loss: 0.4558
Epoch 35/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8470 - loss: 0.3702 - val_accuracy: 0.7933 - val_loss: 0.4753
Epoch 36/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8186 - loss: 0.4293 - val_accuracy: 0.7989 - val_loss: 0.4546
Epoch 37/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8570 - loss: 0.3402 - val_accuracy: 0.7989 - val_loss: 0.4630
Epoch 38/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8278 - loss: 0.4066 - val_accuracy: 0.8045 - val_loss: 0.4614
Epoch 39/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8417 - loss: 0.3853 - val_accuracy: 0.7933 - val_loss: 0.4489
Epoch 40/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8302 - loss: 0.3983 - val_accuracy: 0.7989 - val_loss: 0.4702
Epoch 41/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8510 - loss: 0.3475 - val_accuracy: 0.7989 - val_loss: 0.4410
Epoch 42/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8374 - loss: 0.3795 - val_accuracy: 0.8101 - val_loss: 0.4654
Epoch 43/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8288 - loss: 0.3901 - val_accuracy: 0.7989 - val_loss: 0.4582
Epoch 44/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8276 - loss: 0.3800 - val_accuracy: 0.8045 - val_loss: 0.4583
Epoch 45/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8332 - loss: 0.4097 - val_accuracy: 0.7989 - val_loss: 0.4683
Epoch 46/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8307 - loss: 0.3935 - val_accuracy: 0.7989 - val_loss: 0.4706
Epoch 47/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8370 - loss: 0.3842 - val_accuracy: 0.8045 - val_loss: 0.4502
Epoch 48/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8444 - loss: 0.3700 - val_accuracy: 0.7989 - val_loss: 0.4623
Epoch 49/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8104 - loss: 0.4205 - val_accuracy: 0.8156 - val_loss: 0.4610
Epoch 50/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8332 - loss: 0.3837 - val_accuracy: 0.8045 - val_loss: 0.4571
Epoch 51/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8356 - loss: 0.3840 - val_accuracy: 0.7989 - val_loss: 0.4895
Epoch 52/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7690 - loss: 0.4414 - val_accuracy: 0.8101 - val_loss: 0.4602
Epoch 53/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8653 - loss: 0.3441 - val_accuracy: 0.8045 - val_loss: 0.4449
Epoch 54/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8153 - loss: 0.4144 - val_accuracy: 0.8045 - val_loss: 0.4710
Epoch 55/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8270 - loss: 0.3734 - val_accuracy: 0.7989 - val_loss: 0.4544
Epoch 56/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8367 - loss: 0.3940 - val_accuracy: 0.7654 - val_loss: 0.4783
Epoch 57/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8299 - loss: 0.3908 - val_accuracy: 0.8045 - val_loss: 0.4564
Epoch 58/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8370 - loss: 0.3843 - val_accuracy: 0.8045 - val_loss: 0.4578
Epoch 59/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8552 - loss: 0.3665 - val_accuracy: 0.7989 - val_loss: 0.4633
Epoch 60/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8501 - loss: 0.3579 - val_accuracy: 0.8101 - val_loss: 0.4710
Epoch 61/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8458 - loss: 0.3758 - val_accuracy: 0.8045 - val_loss: 0.4627
Epoch 62/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8422 - loss: 0.3708 - val_accuracy: 0.7989 - val_loss: 0.4578
Epoch 63/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8537 - loss: 0.3626 - val_accuracy: 0.7989 - val_loss: 0.4478
Epoch 64/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8225 - loss: 0.4108 - val_accuracy: 0.8045 - val_loss: 0.4640
Epoch 65/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8308 - loss: 0.3973 - val_accuracy: 0.8101 - val_loss: 0.4661
Epoch 66/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8557 - loss: 0.3543 - val_accuracy: 0.8045 - val_loss: 0.4565
Epoch 67/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8306 - loss: 0.3947 - val_accuracy: 0.7989 - val_loss: 0.4739
Epoch 68/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8326 - loss: 0.3690 - val_accuracy: 0.8101 - val_loss: 0.4580
Epoch 69/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8150 - loss: 0.4150 - val_accuracy: 0.7877 - val_loss: 0.4835
Epoch 70/70
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8582 - loss: 0.3719 - val_accuracy: 0.8101 - val_loss: 0.4666

In [190]:
val_loss, val_accuracy = model.evaluate(X_val, y_val)
print(f'Validation Accuracy: {val_accuracy * 100:.2f}%')

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8198 - loss: 0.4446
Validation Accuracy: 81.01%